<style>
    ul li{
        margin-top: 10px;
    }
</style>

<p>Bonjour,</p>
<p>Voici un nouveau message d'un utilisateur :</p>
<ul>
    <li>Nom : <span style="color: blue">{{ data.lastname }}</span></li>
    <li>Prénom : <span style="color: blue">{{ data.firstname }}</span></li>
    <li>Email : <span style="color: blue">{{ data.email }}</span></li>
    <li>{{ data.content }}</li>
</ul>