{% block footer %}
    <footer class="footer text-center">
        <article class="containerDevelopper">
            <span>Développé par Eric Saou</span>
        </article>
        <article class="containerAccesAdmin">
            <a href="index.php?action=login">Accéder à l'espace administration</a>
        </article>
    </footer>
{% endblock %}