{% block footer %}
    <footer class="footer text-center">
        <article class="containerDevelopper" aria-label="developper">
            <span>Développé par Eric Saou</span>
        </article>
        <article class="containerAccesAdmin" aria-label="administration">
            <a href="/login">Accéder à l'espace administration</a>
        </article>
    </footer>
{% endblock %}