{% extends "/frontoffice/base.html.twig" %}

{% block content %}

    <section class="container p-4 pb-5">

        <h5 class="text-black">Erreur 403 - Accès interdit.</h5>

    </section>

{% endblock %}
