<p style='font-weight: bold'>Bonjour,</p>
<p>Merci d'avoir rejoint ma communauté, pour valider votre compte cliquez sur le <span style='color: blue;font-weight: bold;'>lien</span> ci-dessous :</p>
<a style='font-weight: bold' href='http://projet5/confirm/user/{{ data.token }}'>Cliquez ici</a>